#wpbooklist-search-wrapper html,  #wpbooklist-search-wrapper body,  #wpbooklist-search-wrapper div,  #wpbooklist-search-wrapper span,  #wpbooklist-search-wrapper applet,  #wpbooklist-search-wrapper object,  #wpbooklist-search-wrapper iframe,
h1,  #wpbooklist-search-wrapper h2,  #wpbooklist-search-wrapper h3,  #wpbooklist-search-wrapper h4,  #wpbooklist-search-wrapper h5,  #wpbooklist-search-wrapper h6,  #wpbooklist-search-wrapper blockquote,  #wpbooklist-search-wrapper pre,
a,  #wpbooklist-search-wrapper abbr,  #wpbooklist-search-wrapper acronym,  #wpbooklist-search-wrapper address,  #wpbooklist-search-wrapper big,  #wpbooklist-search-wrapper cite,
del,  #wpbooklist-search-wrapper dfn,  #wpbooklist-search-wrapper img,  #wpbooklist-search-wrapper ins,  #wpbooklist-search-wrapper q,  #wpbooklist-search-wrapper s,
small,  #wpbooklist-search-wrapper strike,  #wpbooklist-search-wrapper sub,  #wpbooklist-search-wrapper sup,  #wpbooklist-search-wrapper tt, #wpbooklist-search-wrapper u,  #wpbooklist-search-wrapper center,
dl,  #wpbooklist-search-wrapper dt,  #wpbooklist-search-wrapper dd,  #wpbooklist-search-wrapper ol,  #wpbooklist-search-wrapper ul,  #wpbooklist-search-wrapper li,
fieldset,  #wpbooklist-search-wrapper form,  #wpbooklist-search-wrapper label,  #wpbooklist-search-wrapper legend,
table,  #wpbooklist-search-wrapper caption,  #wpbooklist-search-wrapper tbody,  #wpbooklist-search-wrapper tfoot,  #wpbooklist-search-wrapper thead,  #wpbooklist-search-wrapper tr,  #wpbooklist-search-wrapper th,  #wpbooklist-search-wrapper td,
article,  #wpbooklist-search-wrapper aside,  #wpbooklist-search-wrapper canvas,  #wpbooklist-search-wrapper details,  #wpbooklist-search-wrapper embed,  #wpbooklist-search-wrapper 
figure,  #wpbooklist-search-wrapper figcaption,  #wpbooklist-search-wrapper footer,  #wpbooklist-search-wrapper header,  #wpbooklist-search-wrapper hgroup,  #wpbooklist-search-wrapper 
menu,  #wpbooklist-search-wrapper nav,  #wpbooklist-search-wrapper output,  #wpbooklist-search-wrapper ruby,  #wpbooklist-search-wrapper section,  #wpbooklist-search-wrapper summary,
time,  #wpbooklist-search-wrapper mark,  #wpbooklist-search-wrapper audio,  #wpbooklist-search-wrapper video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */
#wpbooklist-search-wrapper article,  #wpbooklist-search-wrapper aside,  #wpbooklist-search-wrapper details,  #wpbooklist-search-wrapper figcaption,  #wpbooklist-search-wrapper figure,  #wpbooklist-search-wrapper 
footer,  #wpbooklist-search-wrapper header,  #wpbooklist-search-wrapper hgroup,  #wpbooklist-search-wrapper menu,  #wpbooklist-search-wrapper nav,  #wpbooklist-search-wrapper section {
    display: block;
}
body {
    line-height: 1;
}
#wpbooklist-search-wrapper ol,  #wpbooklist-search-wrapper #wpbooklist-search-wrapper ul {
    list-style: none;
}
#wpbooklist-search-wrapper blockquote,  #wpbooklist-search-wrapper q {
    quotes: none;
}
#wpbooklist-search-wrapper blockquote:before,  #wpbooklist-search-wrapper blockquote:after,
q:before,  #wpbooklist-search-wrapper q:after {
    content: '';
    content: none;
}
#wpbooklist-search-wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
}



.wpbooklist-display-options-indiv-entry {
    text-align: left;
    margin: 10px;
    display: inline-block;
}

.wpbooklist-display-options-label-div {
    display: inline-block;
    vertical-align: top;
}

.wpbooklist-icon-image-question-display-options {
    width: 12px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    top: 2px;
    left: 2px;
    vertical-align: top!important;
}

.wpbooklist-display-options-label-div label {
    width: 150px;
    display: inline-block;
    font-size: 0.7em!important;
}

.wpbooklist-margin-right-td{
	display: inline-block;
    float: left;
}

.wpbooklist-margin-right-td input{
	margin-right:3px!important;
}

#wpbooklist-search-searchterm-input{
	width: 70%;
    display: inline-block;
}

#wpbooklist-search-searchterm-button{
	display: inline-block;
    max-width: 25%;
}

#wpbooklist-search-wrapper #wpbooklist-search-searchterm-input-wrapper{
	margin-bottom:10px;
}

.wpbooklist-display-options-indiv-entry-checkall{
	display: block;
    position: relative;
    bottom: 5px;
    right:5px;
}

#wpbooklist-display-options-indiv-entry-title{
	right:5px;
	position:relative;
}

#wpbooklist-search-wrapper .wpbooklist-display-options-indiv-entry-wrapper{
	position: relative;
    left: 5px;
    margin-bottom:20px;
}

#wpbooklist-search-wrapper #wpbooklist-search-results-top-wrapper{
    margin-top:50px;
}

#wpbooklist-search-results-top-wrapper .wpbooklist-search-results-listing{
    margin:10px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 10px;
}

.wpbooklist-search-results-listing-details-wrapper{
    max-width:80%;
}

.wpbooklist-search-results-listing-img-wrapper{
    max-width:20%;
}

#wpbooklist-search-results-top-wrapper .wpbooklist-search-results-listing-details-wrapper, #wpbooklist-search-results-top-wrapper .wpbooklist-search-results-listing-img-wrapper{
    display:inline-block;
    vertical-align:top;
}

#wpbooklist-search-results-top-wrapper .wpbooklist-search-results-listing-title-wrapper{
    font-weight:bold;
}

#wpbooklist-search-results-top-wrapper .wpbooklist-search-book-image{
    width:60px;
    height:initial;
}

#wpbooklist-search-results-top-wrapper .wpbooklist-search-results-listing-author-wrapper p, #wpbooklist-search-results-top-wrapper .wpbooklist-search-results-listing-pubdate-wrapper p{
    font-size:0.8em;
    margin:0;
}

#wpbooklist-search-results-top-wrapper .wpbooklist-search-results-listing-title-wrapper p{
    margin:0;
}

#wpbooklist-search-wrapper .wpbooklist-pagination-div .wpbooklist-pagination-div-inner .wpbooklist-pagination-left-div, #wpbooklist-search-wrapper .wpbooklist-pagination-div .wpbooklist-pagination-div-inner .wpbooklist-pagination-right-div {
    border-radius: 6px;
    cursor: pointer;
    border: solid;
    box-shadow: 0px 0px 8px #888;
    border-color: transparent;
    font-size: 0.8em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

#wpbooklist-search-wrapper .wpbooklist-pagination-div .wpbooklist-pagination-div-inner .wpbooklist-pagination-left-div p, #wpbooklist-search-wrapper .wpbooklist-pagination-div .wpbooklist-pagination-div-inner .wpbooklist-pagination-right-div p {
    margin:0px;
}

#wpbooklist-search-wrapper .wpbooklist-pagination-div .wpbooklist-pagination-div-inner .wpbooklist-pagination-middle-div {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 100px;
    text-align:center;
}

#wpbooklist-search-wrapper .wpbooklist-pagination-div{
    text-align:center;
}

#wpbooklist-search-wrapper #wpbooklist-search-initial-and-results-wrapper{
    width:76%;
    display:inline-block;
    vertical-align:top;
}

#wpbooklist-search-wrapper #wpbooklist-search-refine-rating-title p, #wpbooklist-search-wrapper #wpbooklist-search-refine-rating-title img{
    display:inline-block;
}

#wpbooklist-search-wrapper #wpbooklist-search-refine-rating-title img{
    width:45px;
}

#wpbooklist-search-wrapper #wpbooklist-search-refine-search-wrapper p{
    margin:0px;
    font-size:0.8em;
}

#wpbooklist-search-wrapper #wpbooklist-search-refine-search-wrapper #wpbooklist-search-refine-search-title-wrapper #wpbooklist-search-reset-refinements-top-title{
    font-size:1em;
    margin-bottom:0px;
}

#wpbooklist-search-wrapper #wpbooklist-search-refine-search-wrapper #wpbooklist-search-refine-search-title-wrapper #wpbooklist-search-reset-refinements, #wpbooklist-search-reset-refinements-bottom{
    font-size:0.7em!important;
    margin-bottom:20px!important;
    cursor: pointer;
}

#wpbooklist-search-wrapper #wpbooklist-search-refine-search-wrapper #wpbooklist-search-refine-search-title-wrapper #wpbooklist-search-reset-refinements:hover, #wpbooklist-search-reset-refinements-bottom:hover{
    text-decoration: underline;
}



#wpbooklist-search-wrapper #wpbooklist-search-refine-search-wrapper{
    max-width:20%;
    display:inline-block;
    vertical-align:top;
}

#wpbooklist-search-refine-search-wrapper .wpbooklist-display-options-label-div label{
    display:inline-block;
}

#wpbooklist-search-refine-search-wrapper select, #wpbooklist-search-refine-search-wrapper input[type="text"]{
    font-size:0.8em;
    width:75%;
}

#wpbooklist-search-wrapper .wpbooklist-search-refine-search-row{
    margin-bottom:20px;
}

#wpbooklist-search-refine-checkboxes-title p{
    margin-bottom:10px;
}

#wpbooklist-search-refinesearch-button{
    max-width: 70%;
    font-size: 0.8em;
}

#wpbooklist-search-wrapper .wpbooklist-search-results-allcheckboxes-wrapper{

}

#wpbooklist-search-wrapper #wpbooklist-search-refine-pubyear-word-wrapper{
    margin-bottom:5px;
}

#wpbooklist-search-results-top-wrapper .wpbooklist-search-results-listing .wpbooklist-search-results-listing-details-wrapper .wpbooklist_saved_title_link{
    position: relative;
    padding: 0;
    height: initial;
}